*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.data
*.mdb
*.sst
*.log
*.xd
*.profraw
*.profdata
*.db
badger_data/
sled_db/
redb.dat
rocksdb_*_data/
leveldb/
lmdb/
xodus/
halodb/
chronicle.dat
bbolt.db
mapdb_server.data
h2mvstore.data
libnextkv.a
*.o
target/
build/
.cxx/
bench_cpp
